<ion-content
  class="flex flex-col justify-center items-center w-full bg-black scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100"
>
  <div class="w-4/5 mx-auto">
    <h1 class="text-4xl py-3">We’re Hiring</h1>
    <div class="flex flex-row justify-center items-start bg-black pb-24">
      <div class="w-1/3">
        <ul>
          <a
            (click)="selectedJob = 'Film Editor and Creator for Trading Content'"
          >
            Film Editor and Creator for Trading Content
          </a>
          <a (click)="selectedJob = 'Full Stack Principal Software Developer'">
            Full Stack Principal Software Developer
          </a>

          <a
            (click)="selectedJob = 'Sr Principal Software Engineer - C++ Programmer'"
          >
            Sr Principal Software Engineer - C++ Programmer
          </a>
        </ul>
      </div>
      <div
        class="flex flex-row border-[1px] border-[#2b2e31] rounded-md bg-secondary w-2/3"
      >
        <div>
          <img
            class="min-w-[92px] min-h-[420px]"
            src="/assets/images/hiring/side-image.png"
            alt="Side image"
          />
        </div>

        <div class="py-8">
          <div class="px-10 w-4/5">
            <!-- Content specific to each job title -->
            <ng-container
              *ngIf="selectedJob === 'Film Editor and Creator for Trading Content'"
            >
              <h1>
                Hiring a Film Editor and Creator for <br />
                Trading Content
              </h1>
              <p class="my-5">
                We're looking to increase our exposure on social media, by
                creating more
                <br />
                content (specifically Youtube Videos + shorts and Reels on
                Instagram)
              </p>
              <ul>
                <li>
                  You will be provided with Living rent free with me <br />
                  (Either in Los Angeles or New York,open to be discussed)
                </li>
                <li>Compensation is negotiable (DM to discuss)</li>
                <li>Become a Partner</li>
              </ul>
              <h2 class="my-3">
                Skills Needed (Most Important to Least Important)
              </h2>
              <ul>
                <li>Short Form Video Editing</li>
                <li>Lighting and Content Creation Setting Management</li>
                <li>Videography</li>
                <li>Photography</li>
                <li>Longform Video Editing</li>
              </ul>
            </ng-container>

            <ng-container
              *ngIf="selectedJob === 'Full Stack Principal Software Developer'"
            >
              <h1>
                Hiring a Full Stack Principal <br />
                Software Developer
              </h1>
              <p class="my-5">
                We're looking for a full stack developer to help make
                <br />
                our apps and sites.
              </p>
              <ul>
                <li>
                  You will be provided with Living rent free with me <br />
                  (Either in Los Angeles or New York,open to be discussed)
                </li>
                <li>Compensation is negotiable (DM to discuss)</li>
                <li>Become a Partner</li>
              </ul>
              <h2 class="my-3">
                Skills Needed (Most Important to Least Important)
              </h2>
              <ul>
                <li>Short Form Video Editing</li>
                <li>Lighting and Content Creation Setting Management</li>
                <li>Videography</li>
                <li>Photography</li>
                <li>Longform Video Editing</li>
              </ul>
            </ng-container>

            <ng-container
              *ngIf="selectedJob === 'Sr Principal Software Engineer - C++ Programmer'"
            >
              <h1>Sr Principal Software Engineer - C++ Programmer</h1>
              <p class="my-5">
                We're looking to increase our exposure on social media, by
                creating more
                <br />
                content (specifically Youtube Videos + shorts and Reels on
                Instagram)
              </p>
              <ul>
                <li>
                  You will be provided with Living rent free with me <br />
                  (Either in Los Angeles or New York,open to be discussed)
                </li>
                <li>Compensation is negotiable (DM to discuss)</li>
                <li>Become a Partner</li>
              </ul>
              <h2 class="my-3">
                Skills Needed (Most Important to Least Important)
              </h2>
              <ul>
                <li>Short Form Video Editing</li>
                <li>Lighting and Content Creation Setting Management</li>
                <li>Videography</li>
                <li>Photography</li>
                <li>Longform Video Editing</li>
              </ul>
            </ng-container>
          </div>

          <!-- Common content at the bottom -->
          <div class="mt-auto">
            <hr class="w-full border-[1px] border-[#2b2e31]" />
            <div class="flex px-10 py-5 justify-between">
              <span class="w-3/5">
                Contact us at
                <a class="text-[#81EDBA] underline">kevin@xtrades.net</a> and
                include information about your previous works and experience to
                set up an interview.
              </span>
              <button class="btn btn-primary h-2/3 my-auto">
                CONTACT US NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="bg-secondary">
  <div class="w-4/5 mx-auto py-5">
    <div class="flex flex-row gap-8">
      <div>
        <span
          >Billing & General Support <br /><strong
            >hello@xtrades.net</strong
          ></span
        >
      </div>
      <div>
        <span>
          Los Angeles, CA 90028 <br /><strong>1-530-723-5499</strong>
        </span>
      </div>
      <div><span>Terms & Conditions</span></div>
      <div><span>Refund Policy</span></div>
      <div><span>Privacy Policy</span></div>
    </div>
    <div class="flex justify-between w-full mt-8">
      <span>© Copyright 2022 - Xtrades. All rights reserved.</span>
      <div class="flex gap-3">
        <img src="/assets/images/hiring/facebook.svg" alt="Facebook" />
        <img src="/assets/images/hiring/twitter.svg" alt="Twitter" />
        <img src="/assets/images/hiring/instagram.svg" alt="Instagram" />
        <img src="/assets/images/hiring/linkedin.svg" alt="Linkedin" />
      </div>
    </div>
  </div>
</ion-footer>
