<ion-header class="hidden sm:block bg-black py-1 px-5">
  <ion-toolbar color="primary" class="h-20 border-0">
    <ion-buttons slot="start" class="flex gap-x-5">
      <a routerLink="/">
        <ion-title><img src="/assets/images/logo.svg" /></ion-title>
      </a>
      <a routerLink="/">Home</a>
    </ion-buttons>
    <ion-buttons slot="end" class="gap-3">
      <a routerLink="/hiring">
        <button class="btn btn-secondary text-[#00e08b]">Membership</button>
      </a>
      <a routerLink="/hiring">
        <button class="btn btn-primary">Login</button>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
