<div id="container">
  <div
    id="cta"
    class="w-3/4 h-1/2 sm:h-[481px] sm:w-[446px] flex flex-col justify-center items-center"
  >
    <img src="/assets/images/home/buttons-title.svg" class="mb-3" />
    <a
      routerLink="/hiring"
      class="btn bg-[#5865F2] border-[#5865F2] w-full sm:w-4/5 my-3 flex flex-row justify-center items-center gap-3"
    >
      <img src="/assets/images/home/discord.svg" /> Continue with discord
    </a>
    <a
      routerLink="/hiring"
      class="btn btn-primary w-full sm:w-4/5 border-transparent"
      >Login</a
    >
  </div>
</div>

<ion-footer class="flex justify-center items-center pb-4 text-accent">
  <span class="mx-auto"> © CryptoTraders 2023 </span>
</ion-footer>
